*{
    box-sizing: border-box;
}
:root{
    --primary-color: #ff5b2e;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fffaf5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Sora', sans-serif;
}


a{
    text-decoration: none;
}

input, textarea, select, button{
    font-size: inherit;
    font-family: inherit;
}

.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn{
   
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--heigth);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;

    color: #000958;

}

.btn-primary{
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4)
}

.section-heading{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    color: #000958;
}

.section-desc{
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */

.header{
    padding: 26px 0;
}

.header .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-inner .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.header-inner .logo span{
    display: inline-flex;
    color: #000958;
    font-size: 3rem;
    font-family: 'Sora', sans-serif;
    font-weight: 700;

}

.header-inner .navbar-list{
    display: flex;
}

.header-inner .navbar-link,
.header-inner .header-action-link{
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;

}

.header-inner .navbar-link:hover{
    text-shadow: 1px 0 0 currentColor;
    
    color: #000958;
}


.header-action-btn{
    --height: 50px;
    min-width: 118px;
   
}

/* Hero */
.hero{
    margin-top: 74px;
}

.hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px ;
}

.hero-media{
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero-img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border: 3px solid #fff;
    border-radius: 16px;
   
}

.hero-img-wrap .hero-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;

}

.hero-decor{
    position: absolute;
    z-index: -1;
}

.hero-decor-left{
    left: -58px;
    bottom: 10px;
    
}

.hero-decor-right{
    right: -43px;
    top: 16px

}

.hero-img-wrap-small{
    align-self: flex-end;
    width: 186px;
     height: 244px;
     background-color: #faa7ad;
     margin-left: -24px;
     margin-bottom: -58px;
     border: 2px solid #f7dddf;

}

.hero-list{
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item{
    display: flex;
}



.hero-list-item-thumb{
    border-radius: 10px;
    width: 40px ;
    height: 40px;
    object-fit: cover;
    background-color: #fec23f;
}

.hero-list-item:nth-of-type(2) .hero-list-item-thumb{
    background-color: #c6e2fa;
}

.hero-list-item-info{
    margin-left: 10px;
}

.hero-list-item-title{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item-skeleton{
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background-color: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-lis-item-separate{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  border-radius: 99px;
  margin: 20px 0;
}

.hero-heading{
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero-desc{
    margin-top: 24px;
    width: 391px;
    font-size: 1.6rem;
    color: #656689;
    line-height: 1.88;
}

.hero-row{
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-cta-btn{
    box-shadow:0px 13px 26px -8px rgba(255, 91, 46, 0.42) ;
    min-width: 190px;
    --height: 60px;
    font-size: 1.6rem;
}
.hero-cta-link{
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;

}

.about{
    margin-top: 138px;
}

.about-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;

}

.about-media{
    position: relative;
}

.about-lable{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;

}


.about-heading{
    margin-top: 15px;
}

.about-heading,
.about-desc{
    width: 444px;
}

.about-check-list{
    margin-top: 54px;
    display: grid;
    gap: 36px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.about-check-item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size:1.8rem;
    line-height: 1;
    color: #48496a;
    
}

.about-check-item::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;

}

.about-check-item::after{
    position: absolute;
    content: url(/assets/images/icon01.svg);
    top: 3px;
    left: 5px;
}

.about-card{
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    background-color: #5bd6ea;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.15);
    border-radius: 10px;
    text-align: center;
}

.about-card-title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #fff;

}

.about-card-desc{
     margin-top: 14px;
     font-size: 1.4rem;
     line-height: 1.43;
     color: #c6f4f9;
}

.about-card-decor{
    position: absolute;
    right: -39px;
    top: -32px;
}

.about-img-wrapper{
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about-img-wrapper::after{
    content: '';
    position: absolute;
    /* width: 100% */
    left: 0;
    right: 0; 
    bottom: 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    height: 336px;
    z-index: -1;

}

.about-img{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-media-decor{
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about-img-wrapper-bottom::after{
    content: none;
}
.about-img-wrapper-bottom{
    width:458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    border: 2px solid #fff;

}
.about-img-bottom{
    width: 100%;
}

.about-decor-img{
    position: absolute;
}
.about-decor-img:nth-child(1){
    top:13px;
    right: 64px;


}
.about-decor-img:nth-child(2){
    top: -16px;
    right: 13px;
    
}
.about-decor-img:nth-child(3){
    top: 33px;
    right: -21px;
    
}
.about-decor-img:nth-child(4){
    top: 268px;
    right: -33px
    
}
.about-decor-img:nth-child(5){
    bottom: 150px;
    right: 19px;
    
}
.about-decor-img:nth-child(6){
    right: -24px;
    bottom: -40px;
    
}
.about-decor-img:nth-child(7){
    right: -33px;
    bottom: -47px;
    
}
.about-decor-img:nth-child(8){
    right: -42px;
    bottom: -55px;
}

.about-desc-bottom{
    width: 511px;
    margin-bottom: 50px;
}

.tab-list{
    display: inline-flex;
    column-gap: 56px;
    position: relative;
   
}

.tab-list::after, 
.tab-item-active::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #ff5b2e;
    opacity: 0.07;
}

.tab-item-active::after{
    width: 95px;
    opacity: 1;
}

.tab-list-item{
    position: relative;
    display: flex;
    align-items:baseline;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab-icon{
    width: 18px;
}
 

.tab-title{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1;
    color: #48496a;
}

.tab-contents{
  padding-top: 36px;
}

.tab-content-item{
    display: none;
}

.tab-content-item-active{
    display: block;
}

.tab-content-desc{
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #656689;
}

.tab-content-more{
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ff5d31;
    line-height: 1;
    
}

.tab-content-more::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1.5px;
    border-radius: 1px;
    background-color: #ff5b2e;
}

/* Service */

.service{
    margin-top: 190px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.service-top{
    text-align: center;
}

.service-desc{
    margin-bottom: 15px;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    font-weight: 600;
}

.service-body{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 60px;
}

.service-item{
    width: 294px;
    padding: 30px;
    background-color: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service-item + .service-item{
    margin-top: 24px;
}

.service-item-heading{
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color:#000958;
    padding-left: 13px;
}

.service-item-heading::before{
    position: absolute;
    inset: 0 auto 0 0 ;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
 
}

.service-item-desc{
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #656689;
}


.service-item-more{
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.service-item-more::after{
    content: url(/assets/images/ArrowUpRight.svg);
    margin: 2px 0 0 5px;
}

.service-media{
    position: relative;
    margin-top: 18px;
}

.service-media::after{
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0d3 108%);
    border-radius: 18px;
   
}

.service-img{
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.service-cta-wrap{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service-cta{
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}

/* Staff */
.staff{
    padding: 130px 0;
}

.staff-desc,
.staff-heading{
    text-align: center;
}

.staff-desc{
    margin-bottom: 15px;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    font-weight: 600;

}

.staff-list{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    column-gap: 35px;
}

.staff-item{
    text-align: center;
}

.staff-item-img-wrap{
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
    
}

.staff-item-img-wrap::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 94%;
    border-radius: inherit;
    
}

.staff-item:nth-child(1) .staff-item-img-wrap::before{
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 96%);

}

.staff-item:nth-child(2) .staff-item-img-wrap::before{
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);

}

.staff-item:nth-child(3) .staff-item-img-wrap::before{
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);

}

.staff-item:nth-child(4) .staff-item-img-wrap::before{
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);

}

.staff-item-img-wrap::after{
    content: "";
    width: calc(100% + 36px);
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item-img-wrap::after{
    background-image: url(/assets/images/staff-decor01.svg);
}

.staff-item:nth-child(2) .staff-item-img-wrap::after{
    background-image: url(/assets/images/staff-decor02.svg);
    background-position: 0 16px;
  
}

.staff-item:nth-child(3) .staff-item-img-wrap::after{
    background-image: url(/assets/images/staff-decor03.svg);
}

.staff-item:nth-child(4) .staff-item-img-wrap::after{
    background-image: url(/assets/images/staff-decor04.svg);
    background-position: 0 16px;
}

.staff-item-img{
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.staff-item-title{
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff-item-name{
   margin-top: 14px;
   font-weight: 600;
   font-size: 2.2rem;
   line-height: 1;
   color: #000958;
}

.staff-cta-wrap{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff-cta{
    min-width: 193px;
    color: #ff5b2e;
    border-color: currentColor;
}